.button {
  display: inline-block;
  text-align: center;
  padding: 15px 35px;
  color: $primary-color;
  border: 1px solid $primary-color;
  border-radius: 55px;
  font-weight: $font-bold;
  @include respond-above(xl) {
    padding: 20px 50px;
    font-size: 18px;
  }
}

.btn-hero {
  color: #fff;
  background: $primary-color;
  &:hover {
    color: #fff;
  }
}

.download {
  &::after {
    content: url(../images/icons/down-arrow.svg);
    margin: 0 7.5px;
  }
}

.read-more {
  padding: 15px 0;
  border: none;
  font-weight: $font-semibold;

  &::after {
    content: url(../images/icons/right-arrow.svg);
    margin: 0 7.5px;
    transition: transform ease-in 0.5s;
    position: absolute;
  }
}
