.button {
  display: inline-block;
  text-align: center;
  padding: 15px 35px;
  color: $primary-color;
  border: 1px solid $primary-color;
  border-radius: 55px;
  font-weight: $font-bold;
  @include respond-above(xl) {
    padding: 20px 50px;
    font-size: 18px;
  }

  &.hero {
    color: #fff;
    background: $primary-color;
  }
}
