html {
  font-family: $primary-font;
  font-size: 14px;
  font-weight: $font-regular;
  line-height: 26px;
  color: $text-color;
}

ul {
  @include reset-list;
}

a,
a:hover {
  text-decoration: none;
}

.uk-flex {
  flex-direction: column;
  @include respond-above(md) {
    flex-direction: row;
  }
}
