header {
  width: 100%;
  .uk-container {
    margin: 25px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include respond-above(sm) {
      margin: 0;
      height: 100px;
    }
    @include respond-above(md) {
      justify-content: center;
    }
    @include respond-above(xl) {
      height: 130px;
    }
  }
  //   Header Logo
  .logo {
    display: flex;
    align-items: center;
    @include respond-above(sm) {
      width: 400px;
    }
    * {
      margin: 0 6px;
    }
    // Logo Icon
    .icon {
      width: 30px;
      height: 30px;
      font-weight: $font-bold;
      color: #fff;
      border-radius: 50%;
      background-color: $primary-color;
      font-size: 18px;
      @include respond-above(xl) {
        font-size: 26px;
        width: 41px;
        height: 41px;
      }
    }

    // Logo Text
    .text {
      font-size: 20px;
      color: $logo-text;
      font-weight: $font-bold;

      @include respond-above(xl) {
        font-size: 24px;
      }
    }
  }

  //Header nav

  nav {
    ul {
      position: absolute;
      width: 100%;
      height: 100vh;
      top: 0;
      right: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: $primary-color;
      z-index: 99;
      transition: transform ease-in 0.5s;
      @include respond-above(md) {
        background: none;
        position: relative;
        height: 100%;
        flex-direction: row;
      }
      li {
        margin: 20px 0;

        @include respond-above(md) {
          margin: 0 20px;
        }

        a {
          font-weight: $font-regular;
          color: #fff;
          transition: color ease-in 0.2s;
          font-size: 18px;
          @include respond-above(md) {
            color: rgba($navlink-color, 0.5);
            font-size: 14px;
          }
          @include respond-above(xl) {
            font-size: 18px;
          }
          &.active {
            font-weight: $font-bold;
          }
          &.active,
          &:hover {
            color: $navlink-color;
          }
        }
      }
    }
    // Hamburger

    .hamburger {
      display: inline-block;
      position: relative;
      z-index: 1000;
      @include respond-above(md) {
        display: none;
      }
    }
  }
}
