.icon-card {
  margin-top: 100px;
  padding: 15px;
  background: url(../images/curved-vector-bg.svg) no-repeat,
    url(../images/element.svg) no-repeat;
  background-size: 1500px 1000px, 131px 115px;
  background-position: -300px 0, 89% 60%;
}
