.info-banner {
    padding: 15px;
    background: url(../images/element.svg) right center no-repeat;
    .banner {
        gap: 137px;
        margin-top: 100px; 
  }

  .banner-img {
    img {
      width: 100%;
      @include respond-above(sm) {
        max-width: 400px;
      }
      @include respond-above(xl) {
        max-width: 650px;
      }
    }
  }

  .banner-text {
    max-width: 450px;
  }
}
