.media-card {
  padding: 15px;
  margin-top: 100px;
  background: url(../images/element.svg) no-repeat,
    url(../images/curved-vector-bg.svg) no-repeat;
  background-size: 131px 115px, 1011px 767px;
  background-position: -10px 136px, 0 0;
  @include respond-above(sm) {
    background-position: 0 0, 450px -160px;
  }
  @include respond-above(xl) {
    background-position: 172px 55px, 170% -90%;
  }
  .card-container {
    margin-top: 80px;
  }
}
