$primary-color: #458ff6;
$primary-light: #67c3f3;
$primary-dark: #5a98f2;
$text-color: #7d7987;
$logo-text: #233348;
$navlink-color: #1f1534;
$primary-font: "Mulish", sans-serif;
$font-light: 300;
$font-regular: normal;
$font-semibold: 600;
$font-bold: bold;
