@font-face {
  font-family: "Mulish";
  src: url("../fonts/Mulish-Light.woff2") format("woff2"), url("../fonts/Mulish-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mulish";
  src: url("../fonts/Mulish-SemiBold.woff2") format("woff2"), url("../fonts/Mulish-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mulish";
  src: url("../fonts/Mulish-Regular.woff2") format("woff2"), url("../fonts/Mulish-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mulish";
  src: url("../fonts/Mulish-Bold.woff2") format("woff2"), url("../fonts/Mulish-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

html {
  font-family: "Mulish", sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 26px;
  color: #7d7987;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a,
a:hover {
  text-decoration: none;
  color: #458ff6;
}

.uk-flex {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 960px) {
  .uk-flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

header {
  width: 100%;
}

header .uk-container {
  margin: 25px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100%;
}

@media (min-width: 640px) {
  header .uk-container {
    margin: 0;
    height: 100px;
  }
}

@media (min-width: 960px) {
  header .uk-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 1600px) {
  header .uk-container {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    height: 130px;
  }
}

header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 640px) {
  header .logo {
    width: 400px;
  }
}

header .logo * {
  margin: 0 6px;
}

header .logo .icon {
  width: 30px;
  height: 30px;
  font-weight: bold;
  color: #fff;
  border-radius: 50%;
  background-color: #458ff6;
  font-size: 18px;
}

@media (min-width: 1600px) {
  header .logo .icon {
    font-size: 26px;
    width: 41px;
    height: 41px;
  }
}

header .logo .text {
  font-size: 20px;
  color: #233348;
  font-weight: bold;
}

@media (min-width: 1600px) {
  header .logo .text {
    font-size: 24px;
  }
}

header nav ul {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: -100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #458ff6;
  z-index: 99;
  -webkit-transition: -webkit-transform ease-in 0.5s;
  transition: -webkit-transform ease-in 0.5s;
  transition: transform ease-in 0.5s;
  transition: transform ease-in 0.5s, -webkit-transform ease-in 0.5s;
}

@media (min-width: 960px) {
  header nav ul {
    background: none;
    position: relative;
    left: 0;
    height: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

header nav ul.active {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

header nav ul li {
  margin: 20px 0;
}

@media (min-width: 960px) {
  header nav ul li {
    margin: 0 20px;
  }
}

header nav ul li a {
  font-weight: normal;
  color: #fff;
  -webkit-transition: color ease-in 0.2s;
  transition: color ease-in 0.2s;
  font-size: 18px;
}

@media (min-width: 960px) {
  header nav ul li a {
    color: rgba(31, 21, 52, 0.5);
    font-size: 14px;
  }
}

@media (min-width: 1600px) {
  header nav ul li a {
    font-size: 18px;
  }
}

header nav ul li a.active {
  font-weight: bold;
}

header nav ul li a.active, header nav ul li a:hover {
  color: #1f1534;
}

header nav .hamburger {
  display: inline-block;
  position: relative;
  z-index: 1000;
  background: url(../images/icons/menu.svg) center no-repeat;
  width: 24px;
  height: 24px;
  -webkit-transition: background ease-in-out 0.5s;
  transition: background ease-in-out 0.5s;
}

@media (min-width: 960px) {
  header nav .hamburger {
    display: none;
  }
}

header nav .hamburger.active {
  background: url(../images/icons/close.svg) center no-repeat;
}

h1,
h3,
h5 {
  font-family: "Mulish", sans-serif;
}

h1 {
  font-size: 30px;
  line-height: 48px;
  color: #000;
  font-weight: bold;
}

@media (min-width: 640px) {
  h1 {
    font-size: 36px;
    line-height: 50px;
  }
}

@media (min-width: 1600px) {
  h1 {
    font-size: 48px;
    line-height: 56px;
  }
}

h3 {
  font-size: 26px;
  line-height: 48px;
  font-weight: bold;
}

@media (min-width: 640px) {
  h3 {
    font-size: 32px;
    line-height: 50px;
  }
}

@media (min-width: 1600px) {
  h3 {
    font-size: 36px;
    line-height: 56px;
  }
}

h5 {
  font-size: 18px;
  line-height: 48px;
  font-weight: bold;
  margin-top: 0;
}

@media (min-width: 640px) {
  h5 {
    font-size: 20px;
    line-height: 50px;
  }
}

@media (min-width: 1600px) {
  h5 {
    font-size: 24px;
    line-height: 56px;
  }
}

p {
  font-weight: 300;
}

@media (min-width: 640px) {
  p {
    font-size: 17px;
    line-height: 28px;
  }
}

@media (min-width: 1200px) {
  p {
    font-size: 21px;
    line-height: 32px;
  }
}

.section-titles h3 {
  position: relative;
}

.section-titles p {
  margin-top: 50px;
}

.section-titles .underline::after {
  content: "";
  position: absolute;
  bottom: -26px;
  width: 56px;
  height: 2px;
  background: #000;
}

.section-titles .underline.normal::after {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.section-titles .underline.left::after {
  left: 0;
}

.button {
  display: inline-block;
  text-align: center;
  padding: 15px 35px;
  color: #458ff6;
  border: 1px solid #458ff6;
  border-radius: 55px;
  font-weight: bold;
}

@media (min-width: 1600px) {
  .button {
    padding: 20px 50px;
    font-size: 18px;
  }
}

.btn-hero {
  color: #fff;
  background: #458ff6;
}

.download::after {
  content: url(../images/icons/down-arrow.svg);
  margin: 0 7.5px;
}

.hero::before {
  content: "";
  background: url(../images/element.svg);
  position: absolute;
  width: 135px;
  height: 115px;
  margin-left: -60px;
}

.hero .uk-container {
  height: calc(100vh - 82px);
  padding: 0 30px;
}

@media (min-width: 640px) {
  .hero .uk-container {
    padding: 0;
    height: calc(100vh - 130px);
    gap: 110px;
  }
}

@media (min-width: 640px) {
  .hero .hero-text {
    max-width: 445px;
  }
}

.hero .hero-img img {
  width: 320px;
}

@media (min-width: 640px) {
  .hero .hero-img img {
    width: 400px;
  }
}

@media (min-width: 1600px) {
  .hero .hero-img img {
    width: 693px;
  }
}

.icon-card {
  margin-top: 100px;
  padding: 15px;
  background: url(../images/curved-vector-bg.svg) no-repeat, url(../images/element.svg) no-repeat;
  background-size: 1500px 1000px, 131px 115px;
  background-position: -300px 0, 89% 60%;
}

.icon-card .card-container {
  margin-top: 30px;
}

.icon-card .card-container .card {
  padding: 40px;
  background: #ffffff;
  -webkit-box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
          box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
  border-radius: 20px;
}

.info-banner {
  padding: 15px;
  background: url(../images/element.svg) right center no-repeat;
}

.info-banner .banner {
  gap: 137px;
  margin-top: 100px;
}

.info-banner .banner-img img {
  width: 100%;
}

@media (min-width: 640px) {
  .info-banner .banner-img img {
    max-width: 400px;
  }
}

@media (min-width: 1600px) {
  .info-banner .banner-img img {
    max-width: 650px;
  }
}

.info-banner .banner-text {
  max-width: 450px;
}

.testinomial {
  margin-top: 100px;
  background: url(../images/element.svg) no-repeat;
  background-position: 190px 210px;
}

.testinomial .testinomial-slide {
  padding: 15px;
  background: linear-gradient(208.18deg, #67c3f3 9.05%, #67c3f3 9.06%, #5a98f2 76.74%);
  border-radius: 24px;
  position: relative;
}

.testinomial .testinomial-slide::after {
  content: "";
  position: absolute;
  background: url(../images/element.svg) center no-repeat;
  width: 130px;
  height: 115px;
  top: -1px;
  right: 0;
}

.testinomial .testinomial-slide * {
  color: #fff;
}

.testinomial .testinomial-slide .section-titles .underline::after {
  background: #fff;
}

.testinomial .testinomial-slide .feedback {
  margin-top: 50px;
}

@media (min-width: 960px) {
  .testinomial .testinomial-slide .feedback {
    gap: 140px;
  }
}

.testinomial .testinomial-slide .feedback .client h5 {
  margin: 0;
}

.testinomial .testinomial-slide .feedback .client p {
  margin-top: 0;
  opacity: 0.8;
}

.testinomial .testinomial-slide .feedback .client img {
  width: 100px;
  height: 100px;
  border: 3px solid #fff;
  border-radius: 50%;
}

@media (min-width: 640px) {
  .testinomial .testinomial-slide .feedback .client img {
    width: 141px;
    height: 141px;
  }
}

.testinomial .testinomial-slide .feedback .comment {
  max-width: 420px;
}

.testinomial .testinomial-slide .feedback .comment p {
  opacity: 0.9;
}
/*# sourceMappingURL=main.css.map */